body {
    margin: 0;
    font-family: 'Cairo',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F1EE;
    height: 100vh;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-track{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: flex-end;
}
.slick-slide:focus {
    color: #fff;
    background: #AE965A;
}

.slick-prev{
    left:-50px;
}
.slick-next{
    right:-50px;
}
